#!/bin/bash

# ONE-LETTER ★
alias b=brew # 
alias c=clear # 
alias e=exit #
alias t=touch #

# FUNCTIONS
alias acp="f_acp"
alias apps="f_apps"
alias ch="f_clean_history"
alias host="f_host"
alias mkd="f_mkdir"
alias o="f_open"
alias rmdll="f_rmdll"
alias trash="f_trash"
alias vs="f_code"
alias z="f_zip"

# SHORTCUT COMMAND
alias cdc="cd && clear"
alias cpwd="pwd | pbcopy"
alias dk="docker"
alias del="rm -rf"
alias kter="killall iTerm2"
alias lh=localhost
alias rmds="find ~ -type f -not -path '*Library*' -name '.DS_Store' -delete"
alias upd="source update.sh"

# DIRECTORIES
alias apps="cd /Applications"
alias dev="cd ~/Dev"
alias docs="cd ~/Documents"
alias dll="cd ~/Downloads"
alias desk="cd ~/Desktop"

# SHUTDOWN
alias bye="sudo shutdown -h now"

# REBOOT
alias rbt="sudo shutdown -r now"

# GIT
alias gmc="gitmoji -c"
alias grh="git reset --hard"

# PACKAGE MANAGER
alias ny="npm i && yarn"

# YARN
alias y=yarn

alias ya="yarn add"
alias yad="yarn add --dev"
alias yga="yarn global add"

alias yr="yarn remove"
alias ygr="yarn global remove"

alias yb="yarn build"
alias yc="yarn check"
alias ydp="yarn deploy"
alias ydv="yarn dev"
alias ydc="yarn doc"
alias ye="yarn eject"
alias yl="yarn lint"
alias ylf="yarn lint:fix"
alias yst="yarn start"
alias ysr="yarn serve"
alias yt="yarn test"
alias ytw="yarn test:watch"
alias yw="yarn watch"

# NPM
alias n=npm

alias ni="npm i"
alias nid="npm i --save-dev"
alias nig="npm i -g"

alias nu="npm uninstall"
alias nug="npm uninstall -g"

alias nb="npm run build"
alias nc="npm run check"
alias ndp="npm run deploy"
alias ndv="npm run dev"
alias ndc="npm run doc"
alias ne="npm run eject"
alias nl="npm run lint"
alias nlf="npm run lint:fix"
alias nst="npm run start"
alias nsr="npm run serve"
alias nt="npm run test"
alias ntw="npm run test:watch"
alias nw="npm run watch"

# SVN
alias sa="svn add"
alias sco="svn checkout"
alias sc="svn commit"
alias su="svn update"
alias sst="svn status"

# Firebase

alias fb="firebase"
alias fbi="firebase init"
alias fbs="firebase serve"
alias fbw="firebase watch"