#!/bin/bash

# ONE-LETTER ★
alias b=brew # vv
alias c=clear # vv
alias e=exit # vv
alias t=touch # vv

# FUNCTIONS
alias acp="f_acp"
alias apps="f_apps"
alias ch="f_clean_history"
alias host="f_host"
alias mkd="f_mkdir"
alias o="f_open"
alias trash="f_trash"
alias vs="f_code"
alias z="f_zip"

# SHORTCUT COMMAND
alias cdc="cd && clear" # v
alias cpwd="pwd | pbcopy"
alias del="rm -rf" # x
alias host="f_host"
alias kter="killall iTerm2"
alias lh=localhost
alias rmdll="f_rmdll"
alias rmds="find ~ -type f -not -path '*Library*' -name '.DS_Store' -delete"
alias trash="f_trash"
alias upd="source update.sh"

# DIRECTORIES
alias apps="cd /Applications"
alias dev="cd ~/Dev"
alias docs="cd ~/Documents"
alias dll="cd ~/Downloads"
alias desk="cd ~/Desktop"

# SHUTDOWN
alias bye="sudo shutdown -h now"

# REBOOT
alias rbt="sudo shutdown -r now"

# GIT
alias gmc="gitmoji -c"
alias grh="git reset --hard"

# PACKAGE MANAGER
alias ny="npm i && yarn"

# YARN
alias y=yarn

alias ya="yarn add"
alias yad="yarn add --dev"
alias yga="yarn global add"

alias yr="yarn remove"
alias ygr="yarn global remove"

alias yb="yarn build"
alias ydp="yarn deploy"
alias ydv="yarn dev"
alias ye="yarn eject"
alias yst="yarn start"
alias ysr="yarn serve"
alias yt="yarn test"
alias yw="yarn watch"

# NPM
alias n=npm

alias ni="npm i"
alias nid="npm i --save-dev"
alias nig="npm i -g"

alias nu="npm uninstall"
alias nug="npm uninstall -g"

alias nrb="npm run build"
alias nrdp="npm run deploy"
alias nrdv="npm run dev"
alias nre="npm run eject"
alias nrst="npm run start"
alias nrsr="npm run serve"
alias nrt="npm run test"
alias nrw="npm run watch"

# SVN
alias sa="svn add"
alias sco="svn checkout"
alias sc="svn commit"
alias su="svn update"
alias sst="svn status"
