#!/bin/bash

# brew formulaes to install
export BREW_FORMULAES=( 
    # package manager
    node
    yarn
    # languages
    mysql
    # tools
    shellcheck
    tree
    htop
    # IDE
    vim
)

# brew casks to install
export BREW_CASKS=(
    alfred
    dashlane
    discord
    gyazo
    iterm2
    visual-studio-code
    zeplin
)