#!/bin/bash

export APPS=(
    "Discord"
    "Dashlane"
    "Activity Monitor"
)

export BREW_FORMULAE=( 
    # package manager
    node
    yarn
    # installers
    curl
    wget
    # languages
    bash
    git
    mysql
    zsh
    # tools
    shellcheck
    tree
    # IDE
    vim
)

export BREW_CASK=(
    alfred
    dashlane
    discord
    gyazo
    iterm2
    visual-studio-code
    zeplin
)