#!/bin/bash

# add, commit & push with custom message
function acp() {
	MSG="$*"
	git add . 
	echo "Custom commit message:" && read -r MSG && git commit -m "$MSG"
	git push
}

# open specific apps
function apps() { for i in "${APPS[@]}" ; do open -a "$i" ; done ; }

# create a host with specific port
function host() { php -S localhost:"$1" ; }

# create a new folder and go into it
function mkd() { mkdir -p "$@" && cd "$_" || exit ; }

# create a new bash script
function newsh() {
	FILE=/usr/local/bin/"$1"
	touch "$FILE"
	chmod a+rx "$FILE"
	echo "#!/usr/local/bin/bash" > "$FILE"
}

# open pwd directory by default, or specified file, directory or application
function o() {
	if [ $# -eq 0 ] ; then open . ;
	else open "$@" ; fi ;
}

# delete all trash content
function trash() {
	TRASH="$HOME/.Trash/*"
	TRASH_DOT="$HOME/.Trash/.*"
	if [ "${#TRASH[@]}" -gt 0 ] ; then rm -rf ~/.Trash/* ; fi
	if [ "${#TRASH_DOT[@]}" -gt 0 ] ; then rm -rf ~/.Trash/.* ; fi
}