#!/bin/bash

export _APT_PACKAGES=(
  "apt-transport-https"
  "ca-certificates"
	"git"
	"htop"
  "make"
  "nodejs"
	"shellcheck"
  "software-properties-common"
	"tmux"
	"xclip"
	"zsh"
)

export _SNAP_DEV_PACKAGES=(
  "terminology --classic"
  "code --classic"
  "cool-retro-term --classic"
  "kubectl --classic"
  "kontena-lens --classic"
  "postman"
  "arduino"
)

export _SNAP_CHAT_PACKAGES=(
	"slack --classic"
  "teams"
  "telegram-desktop"
  "discord"
)

export _SNAP_MISC_PACKAGES=(
  "spotify"
	"vlc"
  "gimp"
  "libreoffice"
)
